.media-control.live[data-media-control] .media-control-layer[data-controls] .bar-container[data-seekbar] .bar-background[data-seekbar] .bar-fill-2[data-seekbar]{background-color:#ff0101!important}
.media-control[data-media-control] .media-control-layer[data-controls] .bar-container[data-seekbar] .bar-background[data-seekbar]{height:3px!important}
.level_selector[data-level-selector] button{font-size:0!important;background:url(https://raw.githubusercontent.com/cdnop/360kora/refs/heads/main/optio.png) center center/100% no-repeat;display:block!important;opacity:inherit;width:21px;height:21px;cursor:pointer}
.level_selector[data-level-selector]{position:absolute!important;top:5px!important;right:140px!important}
.media-control[data-media-control] .media-control-layer[data-controls] button.media-control-button[data-hd-indicator] svg{opacity:0}
.clappr-watermark[data-watermark] {
    min-width: 150px!important;
    max-width: 300px!important;}
    
[data-watermark-bottom-left] {
    bottom: -7px!important;
    left: 0px!important;} 

[data-watermark] img { max-width: 100%!important; }
[data-watermark] {width: 24%!important;}
  
  .media-control[data-media-control] .media-control-background[data-background] {
    background: linear-gradient(transparent,#00000091)!important;}
  
.media-control[data-media-control] .media-control-layer[data-controls] .bar-container[data-seekbar] {
    position: absolute;
    top: 100px!important;}
  
.media-control[data-media-control] .media-control-icon {

    opacity: 1!important;}
  
.dvr-controls[data-dvr-controls] {
    font-size: 13px!important;
    font-weight: 100!important;}  
.media-control[data-media-control] .media-control-layer[data-controls] .drawer-container[data-volume] .drawer-icon-container[data-volume] .drawer-icon[data-volume] svg{background:url(https://github.com/cdnop/360kora/blob/main/audio.png?raw=true) center center/100% no-repeat;width:23px;position:absolute!important;top:5px!important;background-size:100% 100%;height:22px!important;opacity:4}
.media-control[data-media-control] .media-control-layer[data-controls] .drawer-container[data-volume] .drawer-icon-container[data-volume] .drawer-icon[data-volume].muted svg{background:url(https://github.com/cdnop/360kora/blob/main/mute.png?raw=true) center center/100% no-repeat;width: 23px;!important}
.media-control[data-media-control] .media-control-layer[data-controls] .drawer-container[data-volume] .bar-container[data-volume]{top: 11px!important;}
.media-control[data-media-control] .media-control-layer[data-controls] .drawer-container[data-volume] .bar-container[data-volume] .segmented-bar-element[data-volume]{padding-left:0!important;height:5px!important;background-color:#fff;box-shadow:rgb(255,255,255) 5px 0 0 inset!important}
.media-control[data-media-control] .media-control-layer[data-controls] button.media-control-button[data-fullscreen] svg {background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' class='fullscreen-button__enter-icon' height='48px' viewBox='0 0 24 24' width='48px' fill='white'%3e%3cpath d='M0 0h24v24H0V0z' fill='none'/%3e%3cpath d='M7 14H5v5h5v-2H7v-3zm-2-4h2V7h3V5H5v5zm12 7h-3v2h5v-5h-2v3zM14 5v2h3v3h2V5h-5z'/%3e%3c/svg%3e");background-repeat: no-repeat;background-size: contain;display: inline-block;width: 100%; /* Match the size of the original SVG */height: 32px; /* Match the size of the original SVG */content: '';
}
  .media-control[data-media-control] .media-control-layer[data-controls] .drawer-container[data-volume] .drawer-icon-container[data-volume] .drawer-icon[data-volume] {
    width: 15px!important;}
.dvr-controls[data-dvr-controls] .live-info{font-size:0;margin-left:0px}
.dvr-controls[data-dvr-controls] .live-info:after{content:"Live";font-size:12px;font-weight:100;margin-left:5px;line-height: 34px!important;}
  
  
  .level_selector[data-level-selector] {
    right: 160px!important;
}
  .media-control[data-media-control] .media-control-layer[data-controls] .drawer-container[data-volume] .drawer-icon-container[data-volume] .drawer-icon[data-volume] svg path {
    display: none!important;
}
.media-control[data-media-control] .media-control-layer[data-controls] button.media-control-button[data-fullscreen] svg path{
display: none!important;
}
.level_selector[data-level-selector]>ul {left: -35px;bottom: 150%;}
.player-poster[data-poster] .play-wrapper[data-poster] svg {height: 70%;margin-top: 15px;}
